@-webkit-keyframes enterBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes enterBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes exitingTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes exitingTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 1.6; }

.page {
  width: 100vw;
  height: 100vh; }

.container {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.captions {
  width: 100%;
  height: 100%;
  position: relative;
  /*
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	*/ }

.captions-item {
  display: block;
  position: absolute;
  padding: 10vw;
  width: calc(100% - 20vw);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms; }
  .captions-item > div {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .captions-item .index {
    text-transform: uppercase; }
  .captions-item .title {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; }
  .captions-item .description {
    text-transform: uppercase;
    max-width: 390px; }
  .captions-item.entering {
    pointer-events: all;
    opacity: 1; }
    .captions-item.entering > div {
      -webkit-animation: enterBottom ease-in-out 350ms;
              animation: enterBottom ease-in-out 350ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .captions-item.entering > div:nth-of-type(1) {
      -webkit-animation-delay: 50ms;
      animation-delay: 50ms; }
    .captions-item.entering > div:nth-of-type(2) {
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms; }
    .captions-item.entering > div:nth-of-type(3) {
      -webkit-animation-delay: 150ms;
      animation-delay: 150ms; }
    .captions-item.entering > div:nth-of-type(4) {
      -webkit-animation-delay: 200ms;
      animation-delay: 200ms; }
    .captions-item.entering > div:nth-of-type(5) {
      -webkit-animation-delay: 250ms;
      animation-delay: 250ms; }
    .captions-item.entering > div:nth-of-type(6) {
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms; }
    .captions-item.entering > div:nth-of-type(7) {
      -webkit-animation-delay: 350ms;
      animation-delay: 350ms; }
    .captions-item.entering > div:nth-of-type(8) {
      -webkit-animation-delay: 400ms;
      animation-delay: 400ms; }
    .captions-item.entering > div:nth-of-type(9) {
      -webkit-animation-delay: 450ms;
      animation-delay: 450ms; }
    .captions-item.entering > div:nth-of-type(10) {
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms; }
    .captions-item.entering > div:nth-of-type(11) {
      -webkit-animation-delay: 550ms;
      animation-delay: 550ms; }
    .captions-item.entering > div:nth-of-type(12) {
      -webkit-animation-delay: 600ms;
      animation-delay: 600ms; }
    .captions-item.entering > div:nth-of-type(13) {
      -webkit-animation-delay: 650ms;
      animation-delay: 650ms; }
    .captions-item.entering > div:nth-of-type(14) {
      -webkit-animation-delay: 700ms;
      animation-delay: 700ms; }
    .captions-item.entering > div:nth-of-type(15) {
      -webkit-animation-delay: 750ms;
      animation-delay: 750ms; }
    .captions-item.entering > div:nth-of-type(16) {
      -webkit-animation-delay: 800ms;
      animation-delay: 800ms; }
    .captions-item.entering > div:nth-of-type(17) {
      -webkit-animation-delay: 850ms;
      animation-delay: 850ms; }
    .captions-item.entering > div:nth-of-type(18) {
      -webkit-animation-delay: 900ms;
      animation-delay: 900ms; }
    .captions-item.entering > div:nth-of-type(19) {
      -webkit-animation-delay: 950ms;
      animation-delay: 950ms; }
    .captions-item.entering > div:nth-of-type(20) {
      -webkit-animation-delay: 1000ms;
      animation-delay: 1000ms; }
  .captions-item.exiting {
    opacity: 0; }
    .captions-item.exiting > div {
      -webkit-animation: exitingTop ease-in-out 350ms;
              animation: exitingTop ease-in-out 350ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .captions-item.exiting > div:nth-of-type(1) {
      -webkit-animation-delay: 50ms;
      animation-delay: 50ms; }
    .captions-item.exiting > div:nth-of-type(2) {
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms; }
    .captions-item.exiting > div:nth-of-type(3) {
      -webkit-animation-delay: 150ms;
      animation-delay: 150ms; }
    .captions-item.exiting > div:nth-of-type(4) {
      -webkit-animation-delay: 200ms;
      animation-delay: 200ms; }
    .captions-item.exiting > div:nth-of-type(5) {
      -webkit-animation-delay: 250ms;
      animation-delay: 250ms; }
    .captions-item.exiting > div:nth-of-type(6) {
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms; }
    .captions-item.exiting > div:nth-of-type(7) {
      -webkit-animation-delay: 350ms;
      animation-delay: 350ms; }
    .captions-item.exiting > div:nth-of-type(8) {
      -webkit-animation-delay: 400ms;
      animation-delay: 400ms; }
    .captions-item.exiting > div:nth-of-type(9) {
      -webkit-animation-delay: 450ms;
      animation-delay: 450ms; }
    .captions-item.exiting > div:nth-of-type(10) {
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms; }
    .captions-item.exiting > div:nth-of-type(11) {
      -webkit-animation-delay: 550ms;
      animation-delay: 550ms; }
    .captions-item.exiting > div:nth-of-type(12) {
      -webkit-animation-delay: 600ms;
      animation-delay: 600ms; }
    .captions-item.exiting > div:nth-of-type(13) {
      -webkit-animation-delay: 650ms;
      animation-delay: 650ms; }
    .captions-item.exiting > div:nth-of-type(14) {
      -webkit-animation-delay: 700ms;
      animation-delay: 700ms; }
    .captions-item.exiting > div:nth-of-type(15) {
      -webkit-animation-delay: 750ms;
      animation-delay: 750ms; }
    .captions-item.exiting > div:nth-of-type(16) {
      -webkit-animation-delay: 800ms;
      animation-delay: 800ms; }
    .captions-item.exiting > div:nth-of-type(17) {
      -webkit-animation-delay: 850ms;
      animation-delay: 850ms; }
    .captions-item.exiting > div:nth-of-type(18) {
      -webkit-animation-delay: 900ms;
      animation-delay: 900ms; }
    .captions-item.exiting > div:nth-of-type(19) {
      -webkit-animation-delay: 950ms;
      animation-delay: 950ms; }
    .captions-item.exiting > div:nth-of-type(20) {
      -webkit-animation-delay: 1000ms;
      animation-delay: 1000ms; }

.slick {
  display: block;
  width: 100vw;
  height: 100vh; }
  .slick .slick-content {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 70px;
    border-bottom: 5px solid white; }

.video,
.picture {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  background: white;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity ease-in-out 350ms;
  transition: opacity ease-in-out 350ms; }
  .loading .video, .loading
  .picture {
    opacity: 0; }

.container-video > .video {
  display: block; }

.container-picture > .picture {
  display: block; }

.track {
  position: absolute;
  right: 0;
  top: 15px;
  height: calc(100vh - 30px);
  width: 40px;
  background: rgba(128, 128, 128, 0.2); }
  .loading .track {
    opacity: 0; }

.step {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer; }
  .step:before {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    top: 0;
    margin-top: -15px; }

.player-time {
  position: absolute;
  display: block;
  top: 0;
  right: 15px;
  margin-top: -5px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: blue; }

.marker-time {
  position: absolute;
  display: block;
  top: 0;
  right: 15px;
  margin-top: -5px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white; }

.preload {
  display: none;
  color: black;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 100px;
  text-shadow: 0 3px 0px rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1; }
  .loading .preload {
    display: block; }

.content {
  display: block;
  height: 3200vh; }

footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }
