@import "variables";
@import "mixins";
@import "components/animations";
@import "components/buttons";
@import "components/layout";
@import "components/navs";
@import "components/markers";
@import "components/preload";
@import "components/switch";
@import "components/typography";
@import "sections/header";
@import "sections/footer";
@import "sections/overview";
@import "sections/specs";
@import "sections/learn";
/*
body {	
	&.idle .overview-disc {
		@include revealDiscIdle();
	}
	&.idle .overview-rim {
		@include revealRimIdle();
	}
	&.reveal-disc:not(.idle) .overview-disc {
		z-index: 2;
		.cover {
			transform: scale(1);
		}
		@include revealDiscAnimation();
	}
	&.reveal-rim:not(.idle) .overview-rim {
		z-index: 2;
		.cover {
			transform: scale(1);
		}
		@include revealRimAnimation();
	}
	&.reveal-disc.idle .overview-disc {
		z-index: 2;
		.cover {
			transform: scale(1);
		}
		@include revealDiscIdleAnimation();
	}
	&.reveal-rim.idle .overview-rim {
		z-index: 2;
		.cover {
			transform: scale(1);
		}
		@include revealRimIdleAnimation();
	}
	&.use-video .section-overview .video {
		display: block;
	}
	&.use-pictures .section-overview .pictures {
		display: block;
	}
}
*/